body {
    background-color: purple
}
header {
    padding: 10px;
    background-color: orange;
}
header input{
    padding: 5px;
    border-radius: 20px;

}

.flex-container {
    display:flex;
    justify-content: space-between;
    align-items: center ;
}

header nav li {display: inline;}
.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 50vh;
}

video {
    width: 100%;
}
    
